textarea,select 
{
    border: 0 !important;
    border-style: none !important;
    border-color: white !important;
    background-color:transparent !important;
    outline: 0 !important;
    outline-style: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 0 !important;
    outline-offset: 0 !important;
    -webkit-appearance:!important;
    -moz-appearance: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}
input[type=number]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
}
input 
{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #a2a0a0;
    width: 100%;
}